@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.profile::before{
    content: '';
    position: absolute;
    height: 36%;
    width:100%;
    background-color: #4070f4;
    TOP:0;
    left: 0;
    border-radius: 24PX 24PX 0 0;
}
.profile .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-buttons .link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 10px;
    align-items: ;
    background-color: #4070f4;
    text-decoration: none;
}

.profile .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .JOB{
    font-size: 15px;
    font-weight: 400;
}
.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    overflow: hidden;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

}
.buttons .button{
    background-color: #4070f4;
    padding: 8px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover{
    background-color: #0e4bf1;

}

.profile .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}